@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #ffffff;
	color: #364168;
	font-family: 'Inter', sans-serif;
	overflow-x: hidden;
}



.marquee {
	overflow: hidden;
	white-space: nowrap;
}

.track {
	will-change: transform;
	font-size: 60px;
	animation: marquee 60s linear infinite;
	display: inline-block;
	padding-right: 10px;
}

@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-80%);
	}
}

.text-stroke {
	-webkit-text-stroke: 2px #364168;
	-webkit-text-fill-color: transparent;
    font-family: 'Raleway', sans-serif;
}
.btn {
	background-color: #f24347;
}